@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Forzar formato 24 horas en inputs de tiempo */
input[type="time"] {
  font-variant-numeric: tabular-nums;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

